* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.history {
    font-size: x-large;
}

.nav {
    width: 100%;
    height: 50px;
    background-color: greenyellow;
    color: green;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 50px;
    border: 1px solid black;
}

.nav__block {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

a {
    text-decoration: none;
}

.html {
    width: 100%;
    margin-bottom: 60px;
}

.html__container {
    display: flex;
}

.html__logo {
    max-width: 250px;
    margin: auto 0;
    padding-left: 20px;
}

.html__text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 20px;
    padding-right: 20px;
}
.css {
    width: 100%;
    margin-bottom: 60px;
}

.css__container {
    display: flex;
    flex-direction: row-reverse;
}

.css__logo {
    max-width: 250px;
    margin: auto 0;
    padding-right: 20px;
}

.css__text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 20px;
}
.js {
    width: 100%;
    margin-bottom: 60px;
}

.js__container {
    display: flex;
}

.js__logo {
    margin: auto 0;
    max-width: 250px;
    padding-left: 20px;
    padding-right: 20px;
}

.js_text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 20px;
    padding-right: 20px;
}
.git {
    width: 100%;
    margin-bottom: 60px;
}

.git__container {
    display: flex;
    flex-direction: row-reverse;
}

.git__logo {
    display: block;
    max-width: 250px;
    margin: auto 0;
    padding-right: 20px;
}

.git__text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 20px;
    padding-right: 20px;
}